In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

#Changes
alpha = 0.05
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 100)

In [63]:
#Importing the data from GitHub
churn_raw  = pd.read_csv("https://raw.githubusercontent.com/johnson80245/python/refs/heads/main/churn_raw_data.csv")
churn = churn_raw.copy()

In [65]:
#Renaming the columns to correct survey response
churn = churn.rename( columns = {
    "CaseOrder" : "case_order",
    "TimeZone" : "time_zone",
    "InternetService" : "internet_service",
    "OnlineSecurity" : "online_security",
    "OnlineBackup" : "online_backup",
    "DeviceProtection" : "device_protections",
    "TechSupport" : "tech_support", 
    "StreamingTV" : "streaming_tv", 
    "StreamingMovies" : "streaming_movies",
    "PaperlessBilling" : "paperless_billing",
    "PaymentMethod" : "payment_method",
    "MonthlyCharge" : "monthly_charge",
    "item1" : "timely_response",
    "item2" : "timely_fixes",
    'item3' : "timely_replacements",
    'item4' : "reliability",
    "item5" : "options",
    "item6" : "respectful_responses",
    "item7" : "courteous_exchange",
    "item8" : "evidence_of_active_listening"
})

In [66]:
#Cleaning column names:
def to_clean(val):
    return val.strip().lower().replace(" ","_")

churn = churn.rename(columns = to_clean)

In [67]:
#Changing mapping of true/false  & yes/no

bool_map = {'False': 0, 'True': 1}
churn_map = {'Yes':1,'No':0}
bool_cols = ['techie', 'port_modem', 'tablet', 'phone', 'multiple',
           'online_security', 'online_backup', 'device_protections',
           'tech_support', 'streaming_tv', 'streaming_movies', 'paperless_billing']

for column in bool_cols:
    churn[bool_cols] = churn[bool_cols].replace(bool_map)

#churn[bool_cols] = churn[bool_cols].replace(bool_map)
churn['churn'] = churn['churn'].replace(churn_map)

C:\Users\Kyle\AppData\Local\Temp\ipykernel_7248\3242152760.py:13: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  churn['churn'] = churn['churn'].replace(churn_map)

In [69]:
#Cast as categorical data

cat_cols = ['case_order', 'customer_id', 'interaction', 'city', 'state', 'county',
            'area', 'timezone', 'job', 'education', 'employment',
            'marital', 'gender', 'churn', 'techie', 'contract',
            'port_modem', 'tablet', 'internet_service', 'phone', 'multiple',
            'online_security', 'online_backup', 'device_protections', 'tech_support', 'streaming_tv',
            'streaming_movies', 'paperless_billing', 'payment_method', 'timely_response', 'timely_fixes',
            'timely_replacements', 'reliability', 'options', 'respectful_responses',
            'courteous_exchange', 'evidence_of_active_listening']


for column in cat_cols:
    churn[column] = churn[column].astype('category')

In [60]:
#Finding the dtypes
churn.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 51 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   case_order                    10000 non-null  category
 1   customer_id                   10000 non-null  category
 2   interaction                   10000 non-null  category
 3   city                          10000 non-null  category
 4   state                         10000 non-null  category
 5   county                        10000 non-null  category
 6   zip                           10000 non-null  int64
 7   lat                           10000 non-null  float64
 8   lng                           10000 non-null  float64
 9   population                    10000 non-null  int64
 10  area                          10000 non-null  category
 11  timezone                      10000 non-null  category
 12  job                           10000 non-null  category
 13  children                      7505 non-null   float64
 14  age                           7525 non-null   float64
 15  education                     10000 non-null  category
 16  employment                    10000 non-null  category
 17  income                        7510 non-null   float64
 18  marital                       10000 non-null  category
 19  gender                        10000 non-null  category
 20  churn                         10000 non-null  category
 21  outage_sec_perweek            10000 non-null  float64
 22  email                         10000 non-null  int64
 23  contacts                      10000 non-null  int64
 24  yearly_equip_failure          10000 non-null  int64
 25  techie                        7523 non-null   category
 26  contract                      10000 non-null  category
 27  port_modem                    10000 non-null  category
 28  tablet                        10000 non-null  category
 29  internet_service              7871 non-null   category
 30  phone                         8974 non-null   category
 31  multiple                      10000 non-null  category
 32  online_security               10000 non-null  category
 33  online_backup                 10000 non-null  category
 34  device_protections            10000 non-null  category
 35  tech_support                  9009 non-null   category
 36  streaming_tv                  10000 non-null  category
 37  streaming_movies              10000 non-null  category
 38  paperless_billing             10000 non-null  category
 39  payment_method                10000 non-null  category
 40  tenure                        9069 non-null   float64
 41  monthly_charge                10000 non-null  float64
 42  bandwidth_gb_year             8979 non-null   float64
 43  timely_response               10000 non-null  category
 44  timely_fixes                  10000 non-null  category
 45  timely_replacements           10000 non-null  category
 46  reliability                   10000 non-null  category
 47  options                       10000 non-null  category
 48  respectful_responses          10000 non-null  category
 49  courteous_exchange            10000 non-null  category
 50  evidence_of_active_listening  10000 non-null  category
dtypes: category(37), float64(9), int64(5)
memory usage: 2.7 MB

In [61]:
#Describe all transformed
churn.describe().T

,count,mean,std,min,25%,50%,75%,max
zip,10000.0,49153.319600,27532.196108,601.000000,26292.500000,48869.500000,71866.500000,99929.00000
lat,10000.0,38.757567,5.437389,17.966120,35.341828,39.395800,42.106908,70.64066
lng,10000.0,-90.782536,15.156142,-171.688150,-97.082812,-87.918800,-80.088745,-65.66785
population,10000.0,9756.562400,14432.698671,0.000000,738.000000,2910.500000,13168.000000,111850.00000
children,7505.0,2.095936,2.154758,0.000000,0.000000,1.000000,3.000000,10.00000
age,7525.0,53.275748,20.753928,18.000000,35.000000,53.000000,71.000000,89.00000
income,7510.0,39936.762226,28358.469482,740.660000,19285.522500,33186.785000,53472.395000,258900.70000
outage_sec_perweek,10000.0,11.452955,7.025921,-1.348571,8.054362,10.202896,12.487644,47.04928
email,10000.0,12.016000,3.025898,1.000000,10.000000,12.000000,14.000000,23.00000
contacts,10000.0,0.994200,0.988466,0.000000,0.000000,1.000000,2.000000,7.00000
yearly_equip_failure,10000.0,0.398000,0.635953,0.000000,0.000000,0.000000,1.000000,6.00000
tenure,9069.0,34.498858,26.438904,1.000259,7.890442,36.196030,61.426670,71.99928
monthly_charge,10000.0,174.076305,43.335473,77.505230,141.071078,169.915400,203.777441,315.87860
bandwidth_gb_year,8979.0,3398.842752,2187.396807,155.506715,1234.110529,3382.424000,5587.096500,7158.98200

In [ ]:
#Discovering missing values:
churn.isnull().sum()
#Missing values in:
    # -Children, Age, Income, techie, internet service, 
    # phone, tech support, tenure, bandwidth

#How to handle. 
#Income - Look at state, age, segments
#Children - Look at age group segments if older than x no kids if in range of y-z look at segments
    # Could also look at states children 
#Internet Service - if they stream tv or movies then true else false



def int_missing c

case_order                         0
customer_id                        0
interaction                        0
city                               0
state                              0
county                             0
zip                                0
lat                                0
lng                                0
population                         0
area                               0
timezone                           0
job                                0
children                        2495
age                             2475
education                          0
employment                         0
income                          2490
marital                            0
gender                             0
churn                              0
outage_sec_perweek                 0
email                              0
contacts                           0
yearly_equip_failure               0
techie                          2477
contract                           0
port_modem                         0
tablet                             0
internet_service                2129
phone                           1026
multiple                           0
online_security                    0
online_backup                      0
device_protections                 0
tech_support                     991
streaming_tv                       0
streaming_movies                   0
paperless_billing                  0
payment_method                     0
tenure                           931
monthly_charge                     0
bandwidth_gb_year               1021
timely_response                    0
timely_fixes                       0
timely_replacements                0
reliability                        0
options                            0
respectful_responses               0
courteous_exchange                 0
evidence_of_active_listening       0
dtype: int64