In [1]:
#Developing a Data Analysis Routine

import pandas as pd
import numpy as np

#import the data 
#college_raw = pd.read_csv(r"C:\Users\Kyle\OneDrive\Desktop\python\pandas_data\college.csv") #PC
college_raw = pd.read_csv("/Users/kylejohnson/Desktop/Python Files/python/Portfolio_Files/pd_cookbook_data/college.csv")
college = college_raw.copy()

#Generating a random sample of the data
college.sample(random_state = 42)

#Looking at the shape
college.shape

#Looking at the info
college.info()

#Get summary stats of numeric cols 
college.describe(include = [np.number]).T

#Get summary stats of object cols
college.describe(include = [np.object_]).T

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7535 entries, 0 to 7534
Data columns (total 27 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   INSTNM              7535 non-null   object
 1   CITY                7535 non-null   object
 2   STABBR              7535 non-null   object
 3   HBCU                7164 non-null   float64
 4   MENONLY             7164 non-null   float64
 5   WOMENONLY           7164 non-null   float64
 6   RELAFFIL            7535 non-null   int64
 7   SATVRMID            1185 non-null   float64
 8   SATMTMID            1196 non-null   float64
 9   DISTANCEONLY        7164 non-null   float64
 10  UGDS                6874 non-null   float64
 11  UGDS_WHITE          6874 non-null   float64
 12  UGDS_BLACK          6874 non-null   float64
 13  UGDS_HISP           6874 non-null   float64
 14  UGDS_ASIAN          6874 non-null   float64
 15  UGDS_AIAN           6874 non-null   float64
 16  UGDS_NHPI           6874 non-null   float64
 17  UGDS_2MOR           6874 non-null   float64
 18  UGDS_NRA            6874 non-null   float64
 19  UGDS_UNKN           6874 non-null   float64
 20  PPTUG_EF            6853 non-null   float64
 21  CURROPER            7535 non-null   int64
 22  PCTPELL             6849 non-null   float64
 23  PCTFLOAN            6849 non-null   float64
 24  UG25ABV             6718 non-null   float64
 25  MD_EARN_WNE_P10     6413 non-null   object
 26  GRAD_DEBT_MDN_SUPP  7503 non-null   object
dtypes: float64(20), int64(2), object(5)
memory usage: 1.6+ MB

                   count unique                       top  freq
INSTNM              7535   7535  Alabama A & M University     1
CITY                7535   2514                  New York    87
STABBR              7535     59                        CA   773
MD_EARN_WNE_P10     6413    598         PrivacySuppressed   822
GRAD_DEBT_MDN_SUPP  7503   2038         PrivacySuppressed  1510

In [ ]:
#Reducing Memory by Changing Data Types

#Setting up the data to perform analysis
college_raw = pd.read_csv("/Users/kylejohnson/Desktop/Python Files/python/Portfolio_Files/pd_cookbook_data/college.csv")
college = college_raw.copy()

different_cols = [
    "RELAFFIL",
    "SATMTMID",
    "CURROPER",
    "INSTNM",
    "STABBR"
]

col2 = college.loc[:,different_cols]
col2.head()

#Checking dypes of columns
col2.dtypes

#Finding the memory usage of ea col. with .memory_usage
original_mem = col2.memory_usage(deep = True)
original_mem

#Convert RELAFFIL to 8-bit as only 0 & 1
col2["RELAFFIL"] = col2["RELAFFIL"].astype(np.int8)

#Check dtypes again to verify
col2.dtypes

#Check memory usage again
col2.memory_usage(deep = True)

#Checking for low cardinality in the data
col2.select_dtypes(include = ["object"]).nunique()

#STABBR is a good one as less than 1% are unique
col2["STABBR"] = col2["STABBR"].astype("category")

#compute new memory
new_mem = col2.memory_usage(deep = True)
new_mem

#Compare new memory to old memory
new_mem / original_mem

Index       1.000000
RELAFFIL    0.125000
SATMTMID    1.000000
CURROPER    1.000000
INSTNM      1.000765
STABBR      0.032913
dtype: float64