In [1]:
import pandas as pd
import numpy as np 

#movies_raw = pd.read_csv(r"C:\Users\Kyle\OneDrive\Desktop\python\pandas_data\movie.csv") #PC 
movies_raw = pd.read_csv('/Users/kylejohnson/Desktop/Python Files/python/Portfolio_Files/pd_cookbook_data/movie.csv') # MAC 
movies = movies_raw.copy()

In [2]:
#Passing desired columns to index operator 
movie_actor_direct = movies [ 
    [
        "actor_1_name",
        "actor_2_name",
        "actor_3_name",
        "director_name"
    ]
]

movie_actor_direct.head(2)

#returns a dataframe when passed as a lit with single item
type(movies[["director_name"]])
#returns a series if just a string
type(movies["director_name"])

#Use loc to pull out a column by name - dataframe
type(movies.loc[:,["director_name"]])

#loc to return a series
type(movies.loc[:,"director_name"])

#Long list inside operator make readability hard
# to fix this, pass as a variable list
cols = [
    "actor_1_name",
    "actor_2_name",
    "actor_3_name",
    "director_name"
]

movie_actor_director = movies[cols]

In [3]:
#Selecting columns with methods
#use the .get_dtypes to output the # of columns for ea. type

movies = movies_raw.copy()

def shorten(col):
    return(
        str(col)
        .replace("facebook_likes","fb")
        .replace("_for_reviews","")
    )

movies = movies.rename(columns=shorten)
movies.dtypes.value_counts()

#Use select dtypes to select only integer columns
movies.select_dtypes(include = "int").head()

#To include all numbers 
movies.select_dtypes(include="number").head()

#To include integer and strings
movies.select_dtypes(include = ["int","object"]).head()

#To exlcude only floating point columns
movies.select_dtypes(exclude = "float").head()

#Using filter and like method
movies.filter(like = "fb").head()

#Using the items parameter with filter
cols = ["actor_1_name",
        "actor_2_name",
        "actor_3_name",
        "director_name"]

movies.filter(items = cols).head()

#Using regular expression with filter
# "\d" - search any that have digit somewhere in it
movies.filter(regex = r"\d").head()


#using select dtypes you can pass in the suggestions here:
# np.number, 'number' – Selects both integers and floats regardless of size
# np.float64, np.float_, float, 'float64', 'float_', 'float' – Selects only 64-bit floats
# np.float16, np.float32, np.float128, 'float16', 'float32', 'float128' – Respectively selects exactly 16, 32, and 128-bit floats
# np.floating, 'floating' – Selects all floats regardless of size
# np.int0, np.int64, np.int_, int, 'int0', 'int64', 'int_', 'int' – Selects only 64-bit integers
# np.int8, np.int16, np.int32, 'int8', 'int16', 'int32' – Respectively selects exactly 8, 16, and 32-bit integers
# np.integer, 'integer' – Selects all integers regardless of size
# 'Int64' – Selects nullable integer; no NumPy equivalent
# np.object, 'object', 'O' – Select all object data types
# np.datetime64, 'datetime64', 'datetime' – All datetimes are 64 bits
# np.timedelta64, 'timedelta64', 'timedelta' – All timedeltas are 64 bits
# pd.Categorical, 'category' – Unique to pandas; no NumPy equivalen

,actor_3_fb,actor_2_name,actor_1_fb,actor_1_name,actor_3_name,actor_2_fb
0,855.0,Joel David Moore,1000.0,CCH Pounder,Wes Studi,936.0
1,1000.0,Orlando Bloom,40000.0,Johnny Depp,Jack Davenport,5000.0
2,161.0,Rory Kinnear,11000.0,Christoph Waltz,Stephanie Sigman,393.0
3,23000.0,Christian Bale,27000.0,Tom Hardy,Joseph Gordon-Levitt,23000.0
4,NaN,Rob Walker,131.0,Doug Walker,NaN,12.0

In [4]:
#Ordering Column Names

#Following is a guideline to order columns:
# Classify ea. column as categorical or continuous
# Group common columns with the categorical and continuous columns
# Place the most important columns first with categorical before continuous

#Read in movies data
movies = movies_raw.copy()

def shorten(col):
    return(
        str(col)
        .replace("facebook_likes","fb")
        .replace("_for_reviews","")
    )

movies = movies.rename(columns = shorten)

# output all column names, scan for cat. and cont.
movies.columns

#Organizing into list so the guidelines are followed
cat_core = [
    "movie_title",
    "title_year",
    "content_rating",
    "genres"
]

cat_people = [
    "director_name",
    "actor_1_name",
    "actor_2_name",
    "actor_3_name"
]

cat_other = [
    "color",
    "country",
    "language",
    "plot_keywords",
    "movie_imdb_link"
]

cont_fb = [
    "director_fb",
    "actor_1_fb",
    "actor_2_fb",
    "actor_3_fb",
    "cast_total_fb",
    "movie_fb"
]

cont_finance = [
    "budget",
    "gross"
]


cont_num_reviews = [
    "num_voted_users",
    "num_user",
    "num_critic"
]

cont_other = [
    "imdb_score",
    "duration",
    "aspect_ratio",
    "facenumber_in_poster"
]

#concatenate all the list togethers
new_col_order = (
    cat_core
    + cat_people
    + cat_other
    + cont_fb
    + cont_finance
    + cont_num_reviews
    + cont_other
)

#ensure the list contains all columns
set(movies.columns) == set(new_col_order)

#reorder the columns 
movies = movies[new_col_order]

movies.head()

,movie_title,title_year,content_rating,genres,director_name,actor_1_name,actor_2_name,actor_3_name,color,country,...,movie_fb,budget,gross,num_voted_users,num_user,num_critic,imdb_score,duration,aspect_ratio,facenumber_in_poster
0,Avatar,2009.0,PG-13,Action|Adventure|Fantasy|Sci-Fi,James Cameron,CCH Pounder,Joel David Moore,Wes Studi,Color,USA,...,33000,237000000.0,760505847.0,886204,3054.0,723.0,7.9,178.0,1.78,0.0
1,Pirates of the Caribbean: At World's End,2007.0,PG-13,Action|Adventure|Fantasy,Gore Verbinski,Johnny Depp,Orlando Bloom,Jack Davenport,Color,USA,...,0,300000000.0,309404152.0,471220,1238.0,302.0,7.1,169.0,2.35,0.0
2,Spectre,2015.0,PG-13,Action|Adventure|Thriller,Sam Mendes,Christoph Waltz,Rory Kinnear,Stephanie Sigman,Color,UK,...,85000,245000000.0,200074175.0,275868,994.0,602.0,6.8,148.0,2.35,1.0
3,The Dark Knight Rises,2012.0,PG-13,Action|Thriller,Christopher Nolan,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,Color,USA,...,164000,250000000.0,448130642.0,1144337,2701.0,813.0,8.5,164.0,2.35,0.0
4,Star Wars: Episode VII - The Force Awakens,NaN,NaN,Documentary,Doug Walker,Doug Walker,Rob Walker,NaN,NaN,NaN,...,0,NaN,NaN,8,NaN,NaN,7.1,NaN,NaN,0.0

In [ ]:
#Summarizing a DataFrame

movies = movies_raw.copy()

#Read in and examine basic desc. props. 
movies.shape
movies.size
movies.ndim
len(movies)

# Count method shows non-missing values
movies.count()

#Summary Stats - .min .max .mean .median .std
movies.min(numeric_only = True)
movies.max(numeric_only = True)
movies.mean(numeric_only = True)
movies.median(numeric_only = True)
movies.std(numeric_only = True)

#The descibe method transposed with .T
movies.describe().T

#Able to specify quantiles in describe method
movies.describe(percentiles = [0.01, 0.3, 0.99]).T

#using the skipna - showing the NaN return
movies.min(skipna = False,numeric_only = True)

num_critic_for_reviews       NaN
duration                     NaN
director_facebook_likes      NaN
actor_3_facebook_likes       NaN
actor_1_facebook_likes       NaN
gross                        NaN
num_voted_users              5.0
cast_total_facebook_likes    0.0
facenumber_in_poster         NaN
num_user_for_reviews         NaN
budget                       NaN
title_year                   NaN
actor_2_facebook_likes       NaN
imdb_score                   1.6
aspect_ratio                 NaN
movie_facebook_likes         0.0
dtype: float64

In [ ]:
#Chaining DataFrame Methods

movies = movies_raw.copy()

def shorten(col):
    return(
        str(col)
        .replace("facebook_likes","fb")
        .replace("_for_reviews","")
    )

movies = movies.rename(columns = shorten)

# Using .isnull to get count of missing values
movies.isnull().head()

#chaining the sum method to it. Will show how many missing values
movies.isnull().sum()

#Going one step further and summing all the nulls
movies.isnull().sum().sum()

#Using .any to see if any nulls
movies.isnull().any()

#Using .any twice to see if any nulls in the DF 
movies.isnull().any().any()

True

In [51]:
# DataFrame Operations 

#colleges_raw = pd.read_csv(r"C:\Users\Kyle\OneDrive\Desktop\python\pandas_data\college.csv") #PC 
colleges_raw = pd.read_csv('/Users/kylejohnson/Desktop/Python Files/python/Portfolio_Files/pd_cookbook_data/college.csv') #Mac
colleges = colleges_raw

#showing an error when using arthimetic across a whole DF
#colleges + 5 # WILL RETURN ERROR ON PURPOSE



#colleges_raw = pd.read_csv(r"C:\Users\Kyle\OneDrive\Desktop\python\pandas_data\college.csv",index_col = "INSTNM") #PC 
colleges1 = pd.read_csv('/Users/kylejohnson/Desktop/Python Files/python/Portfolio_Files/pd_cookbook_data/college.csv',index_col = "INSTNM")


#Creating a series to be able to have homogenous data
#Undergrad students by race
college_ugds = colleges1.filter(like = "UGDS_")
college_ugds.head()

#Looking at UGDS_Black when rounding to 2 decimals
name = "Northwest-Shoals Community College"
college_ugds.loc[name]

#Doesn't round up, on UGDS_Black 
college_ugds.loc[name].round(2)
#Adding 0.0001 before rounding it will round up properly
(college_ugds.loc[name] + 0.0001).round(2)

#First add .00501 to college_ugds
college_ugds + 0.00501

#Use the floor division to round down to nearest whole number
(college_ugds + 0.00501) // 0.01

#Divide by 100
college_ugds_op_round = (college_ugds + 0.00501) // 0.01 / 100 
college_ugds_op_round.head()

#Now use round to finish out the methods, add small amount for bankers rounding
college_ugds_round = (college_ugds + 0.00001).round(2)
college_ugds_round.head()

#Use the equals DF method to test the equality of two DF
college_ugds_op_round.equals(college_ugds_round)

True

In [ ]:
#Comparing Missing Values

#np.nan to itself returns false
np.nan == np.nan

#none to itself returns true
None == None

#All other comparissons agains np.nan return false
# except !=
np.nan > 5
5 > np.nan
np.nan != 5

#Loading in data
colleges1 = pd.read_csv('/Users/kylejohnson/Desktop/Python Files/python/Portfolio_Files/pd_cookbook_data/college.csv',index_col = "INSTNM") #MAC
college_ugds = colleges1.filter(like = "UGDS_")