In [1]:
import pandas as pd
import numpy as np 

#movies_raw = pd.read_csv(r"C:\Users\Kyle\OneDrive\Desktop\python\pandas_data\movie.csv") #PC 
movies_raw = pd.read_csv('/Users/kylejohnson/Desktop/Python Files/python/Portfolio_Files/pd_cookbook_data/movie.csv') # MAC 
movies = movies_raw.copy()

In [ ]:
#Passing desired columns to index operator 
movie_actor_direct = movies [ 
    [
        "actor_1_name",
        "actor_2_name",
        "actor_3_name",
        "director_name"
    ]
]

movie_actor_direct.head(2)

#returns a dataframe when passed as a lit with single item
type(movies[["director_name"]])
#returns a series if just a string
type(movies["director_name"])

#Use loc to pull out a column by name - dataframe
type(movies.loc[:,["director_name"]])

#loc to return a series
type(movies.loc[:,"director_name"])

#Long list inside operator make readability hard
# to fix this, pass as a variable list
cols = [
    "actor_1_name",
    "actor_2_name",
    "actor_3_name",
    "director_name"
]

movie_actor_director = movies[cols]

,actor_1_name,actor_2_name,actor_3_name,director_name
0,CCH Pounder,Joel David Moore,Wes Studi,James Cameron
1,Johnny Depp,Orlando Bloom,Jack Davenport,Gore Verbinski
2,Christoph Waltz,Rory Kinnear,Stephanie Sigman,Sam Mendes
3,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,Christopher Nolan
4,Doug Walker,Rob Walker,NaN,Doug Walker
...,...,...,...,...
4911,Eric Mabius,Daphne Zuniga,Crystal Lowe,Scott Smith
4912,Natalie Zea,Valorie Curry,Sam Underwood,NaN
4913,Eva Boehnke,Maxwell Moody,David Chandler,Benjamin Roberds
4914,Alan Ruck,Daniel Henney,Eliza Coupe,Daniel Hsia
4915,John August,Brian Herzlinger,Jon Gunn,Jon Gunn

In [ ]:
#Selecting columns with methods
#use the .get_dtypes to output the # of columns for ea. type

movies = movies_raw.copy()

def shorten(col):
    return(
        str(col)
        .replace("facebook_likes","fb")
        .replace("_for_reviews","")
    )

movies = movies.rename(columns=shorten)
movies.dtypes.value_counts()

#Use select dtypes to select only integer columns
movies.select_dtypes(include = "int").head()

#To include all numbers 
movies.select_dtypes(include="number").head()

#To include integer and strings
movies.select_dtypes(include = ["int","object"]).head()

#To exlcude only floating point columns
movies.select_dtypes(exclude = "float").head()

#Using filter and like method
movies.filter(like = "fb").head()

#Using the items parameter with filter
cols = ["actor_1_name",
        "actor_2_name",
        "actor_3_name",
        "director_name"]

movies.filter(items = cols).head()

#Using regular expression with filter
# "\d" - search any that have digit somewhere in it
movies.filter(regex = r"\d").head()


#using select dtypes you can pass in the suggestions here:
# np.number, 'number' â€“ Selects both integers and floats regardless of size
# np.float64, np.float_, float, 'float64', 'float_', 'float' â€“ Selects only 64-bit floats
# np.float16, np.float32, np.float128, 'float16', 'float32', 'float128' â€“ Respectively selects exactly 16, 32, and 128-bit floats
# np.floating, 'floating' â€“ Selects all floats regardless of size
# np.int0, np.int64, np.int_, int, 'int0', 'int64', 'int_', 'int' â€“ Selects only 64-bit integers
# np.int8, np.int16, np.int32, 'int8', 'int16', 'int32' â€“ Respectively selects exactly 8, 16, and 32-bit integers
# np.integer, 'integer' â€“ Selects all integers regardless of size
# 'Int64' â€“ Selects nullable integer; no NumPy equivalent
# np.object, 'object', 'O' â€“ Select all object data types
# np.datetime64, 'datetime64', 'datetime' â€“ All datetimes are 64 bits
# np.timedelta64, 'timedelta64', 'timedelta' â€“ All timedeltas are 64 bits
# pd.Categorical, 'category' â€“ Unique to pandas; no NumPy equivalen

,actor_3_fb,actor_2_name,actor_1_fb,actor_1_name,actor_3_name,actor_2_fb
0,855.0,Joel David Moore,1000.0,CCH Pounder,Wes Studi,936.0
1,1000.0,Orlando Bloom,40000.0,Johnny Depp,Jack Davenport,5000.0
2,161.0,Rory Kinnear,11000.0,Christoph Waltz,Stephanie Sigman,393.0
3,23000.0,Christian Bale,27000.0,Tom Hardy,Joseph Gordon-Levitt,23000.0
4,NaN,Rob Walker,131.0,Doug Walker,NaN,12.0