In [17]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [18]:
capacity = pd.read_csv(r"C:\Users\Kyle\OneDrive\Desktop\theoretical capacity data 3 months.csv",)
all_state_aht = pd.read_csv(r"C:\Users\Kyle\OneDrive\Desktop\AHT_by_state.csv")
def to_clean(val):
    return val.strip().lower().replace(" ","_")

capacity = capacity.rename(columns = to_clean)
all_state_aht = all_state_aht.rename(columns = to_clean)

In [19]:
#Cast as categorical data
capacity[['userid','position','team_lead_id']] = (capacity[['userid','position','team_lead_id']].astype('category'))
#Cast to float
capacity['adj_total_hours'] = pd.to_numeric(capacity.adj_total_hours, errors = 'coerce')
#Cast to date
capacity['year_month'] = pd.to_datetime(capacity['year_month'])
#Cast to int64
int_columns = ['new_policy_count', 'renewal_count', 'endorsement__count','fte','total_filings','flag_count','srt_reassignments',
               'filing_admin_changes','srt_total','premium_srt','zero_srt','no_charge_srt','ad_hoc_srts']
for column in int_columns:
    capacity[column] = capacity[column].astype('int64')

In [20]:
all_state_aht.describe(include = 'all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
state,212,50,CA,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN
submission_type,212,2,Manual,146,NaN,NaN,NaN,NaN,NaN,NaN,NaN
transaction_type_group,212,3,New Policy,73,NaN,NaN,NaN,NaN,NaN,NaN,NaN
transaction_count,212,170,2,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
weighted_aht,212.0,NaN,NaN,NaN,3.127028,2.203141,0.54,2.0,2.0,4.0,16.5

In [21]:
capacity.describe(include='all').T

,count,unique,top,freq,mean,min,25%,50%,75%,max,std
year_month,91,NaN,NaN,NaN,2025-04-14 03:41:32.307692288,2025-03-01 00:00:00,2025-03-01 00:00:00,2025-04-01 00:00:00,2025-05-01 00:00:00,2025-06-01 00:00:00,NaN
userid,91.0,24.0,11.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
fte,91.0,NaN,NaN,NaN,0.967033,0.0,1.0,1.0,1.0,1.0,0.17954
position,91,2,Tax Associate,79,NaN,NaN,NaN,NaN,NaN,NaN,NaN
team_lead_id,91.0,3.0,467.0,31.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
total_filings,91.0,NaN,NaN,NaN,825.043956,235.0,551.0,773.0,1030.0,2307.0,381.966139
flag_count,91.0,NaN,NaN,NaN,127.978022,20.0,68.5,108.0,166.5,357.0,77.664804
srt_reassignments,91.0,NaN,NaN,NaN,87.791209,0.0,8.0,25.0,72.5,1307.0,182.343176
filing_admin_changes,91.0,NaN,NaN,NaN,253.153846,0.0,69.0,183.0,348.5,1032.0,233.345139
new_policy_count,91.0,NaN,NaN,NaN,397.318681,119.0,243.0,353.0,518.5,1043.0,213.950715
renewal_count,91.0,NaN,NaN,NaN,128.879121,18.0,83.5,108.0,163.5,340.0,65.730398
endorsement__count,91.0,NaN,NaN,NaN,298.846154,40.0,168.5,276.0,394.5,994.0,185.445405
srt_total,91.0,NaN,NaN,NaN,27.769231,0.0,3.5,14.0,35.5,166.0,36.102347
premium_srt,91.0,NaN,NaN,NaN,12.923077,0.0,0.0,7.0,18.0,70.0,17.095958
zero_srt,91.0,NaN,NaN,NaN,14.846154,0.0,0.0,3.0,11.0,114.0,28.638716
no_charge_srt,91.0,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0
ad_hoc_srts,91.0,NaN,NaN,NaN,0.912088,0.0,0.0,0.0,1.0,22.0,2.838812
total_hours_self,91.0,NaN,NaN,NaN,147.106044,48.5,110.025,165.5,173.25,194.0,34.942331
pto_hours_self,91.0,NaN,NaN,NaN,13.936813,0.0,4.0,8.0,20.0,83.0,14.789805
adj_total_hours,90.0,NaN,NaN,NaN,133.332222,44.5,100.625,151.875,160.0,178.0,34.436459
filing_hours_self,91.0,NaN,NaN,NaN,85.454725,28.0,58.625,80.5,110.75,147.5,32.006518
srt_hours_self,91.0,NaN,NaN,NaN,13.416703,0.0,1.5,7.0,19.125,91.0,16.51014

In [22]:
capacity.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91 entries, 0 to 90
Data columns (total 22 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   year_month            91 non-null     datetime64[ns]
 1   userid                91 non-null     category
 2   fte                   91 non-null     int64
 3   position              91 non-null     category
 4   team_lead_id          91 non-null     category
 5   total_filings         91 non-null     int64
 6   flag_count            91 non-null     int64
 7   srt_reassignments     91 non-null     int64
 8   filing_admin_changes  91 non-null     int64
 9   new_policy_count      91 non-null     int64
 10  renewal_count         91 non-null     int64
 11  endorsement__count    91 non-null     int64
 12  srt_total             91 non-null     int64
 13  premium_srt           91 non-null     int64
 14  zero_srt              91 non-null     int64
 15  no_charge_srt         91 non-null     int64
 16  ad_hoc_srts           91 non-null     int64
 17  total_hours_self      91 non-null     float64
 18  pto_hours_self        91 non-null     float64
 19  adj_total_hours       90 non-null     float64
 20  filing_hours_self     91 non-null     float64
 21  srt_hours_self        91 non-null     float64
dtypes: category(3), datetime64[ns](1), float64(5), int64(13)
memory usage: 14.9 KB

In [23]:
#Create AHT based on reported hours
capacity['filing_aht']  = (capacity.filing_hours_self / capacity.total_filings) * 60
capacity['srt_aht']  = (capacity.srt_hours_self / capacity.srt_total) * 60
capacity['flag_aht'] = (capacity['filing_aht'] * 1.25)

#Create Utilization
capacity['filing_utilization'] = (capacity.filing_hours_self/capacity.total_hours_self) 
capacity['srt_utilization'] = (capacity.srt_hours_self/capacity.total_hours_self) 
capacity['total_utilization'] = (capacity.filing_hours_self + capacity.srt_hours_self) / capacity.total_hours_self

In [24]:
capacity.head(10)

,year_month,userid,fte,position,team_lead_id,total_filings,flag_count,srt_reassignments,filing_admin_changes,new_policy_count,...,pto_hours_self,adj_total_hours,filing_hours_self,srt_hours_self,filing_aht,srt_aht,flag_aht,filing_utilization,srt_utilization,total_utilization
0,2025-03-01,932,1,Tax Associate,467,554,54,11,434,388,...,12.0,159.00,38.50,29.50,4.169675,33.396226,5.212094,0.225146,0.172515,0.397661
1,2025-04-01,932,1,Tax Associate,467,974,94,2,479,506,...,22.0,151.50,46.50,26.00,2.864476,30.588235,3.580595,0.268012,0.149856,0.417867
2,2025-05-01,932,1,Tax Associate,467,1112,108,9,727,552,...,4.0,173.75,67.25,33.00,3.628597,104.210526,4.535746,0.378340,0.185654,0.563994
3,2025-06-01,932,1,Tax Associate,467,597,77,1,284,405,...,48.0,59.25,52.50,11.00,5.276382,44.000000,6.595477,0.489510,0.102564,0.592075
4,2025-03-01,11,1,Tax Associate,772,391,67,62,9,178,...,8.0,130.00,104.50,11.25,16.035806,42.187500,20.044757,0.757246,0.081522,0.838768
5,2025-04-01,11,1,Tax Associate,772,708,65,131,203,323,...,24.0,NaN,98.00,14.00,8.305085,60.000000,10.381356,0.687719,0.098246,0.785965
6,2025-05-01,11,1,Tax Associate,772,391,76,33,19,169,...,24.0,110.00,80.50,18.50,12.352941,34.687500,15.441176,0.600746,0.138060,0.738806
7,2025-06-01,11,1,Tax Associate,772,299,59,2,23,160,...,8.0,64.50,51.50,7.00,10.334448,30.000000,12.918060,0.710345,0.096552,0.806897
8,2025-03-01,882,1,Tax Associate,772,1092,141,30,39,396,...,15.0,139.75,65.00,30.50,3.571429,915.000000,4.464286,0.420032,0.197092,0.617124
9,2025-04-01,882,1,Tax Associate,772,938,98,29,292,255,...,30.0,122.50,55.75,34.50,3.566098,147.857143,4.457623,0.365574,0.226230,0.591803

In [25]:
capacity.filing_aht.describe().T

count    91.000000
mean      7.415452
std       4.206675
min       1.970480
25%       3.999313
50%       6.708333
75%       9.737816
max      23.234043
Name: filing_aht, dtype: float64

In [26]:
all_state_aht.head(2)

  state submission_type transaction_type_group transaction_count  weighted_aht
0    AK          Manual            Endorsement                26           2.0
1    AK          Manual             New Policy                73           2.0

In [27]:
all_state_aht.dtypes

state                      object
submission_type            object
transaction_type_group     object
transaction_count          object
weighted_aht              float64
dtype: object

In [28]:
# Correct way
all_state_aht['transaction_count'] = pd.to_numeric(
    all_state_aht['transaction_count'].astype(str).str.replace(',', ''),
    errors='coerce'
).astype('float64')


all_state_aht.dtypes

state                      object
submission_type            object
transaction_type_group     object
transaction_count         float64
weighted_aht              float64
dtype: object

In [35]:
#Create state weighted aht

def compute_weighted_aht(group):
    return (
        (group['transaction_count'] * group['weighted_aht']).sum()
        / group['transaction_count'].sum()
    )

state_trans_aht = (
    all_state_aht
    .groupby(['state', 'transaction_type_group'], group_keys=False)
    .apply(compute_weighted_aht, include_groups=False)
    .reset_index(name='weighted_aht')
)

state_aht = (
    all_state_aht
    .groupby('state', group_keys = False)
    .apply(compute_weighted_aht, include_groups=False)
    .reset_index(name = 'weighted_aht')
)

In [37]:
state_trans_aht.head()

  state transaction_type_group  weighted_aht
0    AK            Endorsement      2.000000
1    AK             New Policy      2.000000
2    AK         Renewal Policy      2.000000
3    AL            Endorsement      2.269058
4    AL             New Policy      2.123894