In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns 

#Exercise 1.01 - Load in a JSON file

#Load in JSON file
user_info = pd.read_json('https://raw.githubusercontent.com/johnson80245/python/refs/heads/main/csvs/DS%20for%20marketing%20analytics%20data/Chapter01/Exercise1.01/user_info.json')
user_info.head(1)

#Look at user_info.info
user_info.info()

#Using shape to look at the shape of df 
user_info.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 22 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   _id            6 non-null      object
 1   index          6 non-null      int64
 2   guid           6 non-null      object
 3   isActive       6 non-null      bool
 4   balance        6 non-null      object
 5   picture        6 non-null      object
 6   age            6 non-null      int64
 7   eyeColor       6 non-null      object
 8   name           6 non-null      object
 9   gender         6 non-null      object
 10  company        6 non-null      object
 11  email          6 non-null      object
 12  phone          6 non-null      object
 13  address        6 non-null      object
 14  about          6 non-null      object
 15  registered     6 non-null      object
 16  latitude       6 non-null      float64
 17  longitude      6 non-null      float64
 18  tags           6 non-null      object
 19  friends        6 non-null      object
 20  greeting       6 non-null      object
 21  favoriteFruit  6 non-null      object
dtypes: bool(1), float64(2), int64(2), object(17)
memory usage: 1.1+ KB

(6, 22)

In [12]:
#Exercise 1.02 - Loading data from multiple sources

#Load in campaign data 
campaign_data = pd.read_csv('https://raw.githubusercontent.com/johnson80245/python/refs/heads/main/csvs/DS%20for%20marketing%20analytics%20data/Chapter01/Exercise1.02/data.csv')
campaign_data.head()

#Change first row to header
campaign_data = pd.read_csv('https://raw.githubusercontent.com/johnson80245/python/refs/heads/main/csvs/DS%20for%20marketing%20analytics%20data/Chapter01/Exercise1.02/data.csv', header = 1)
campaign_data.head()
campaign_data.tail()

#Look at the info of the df
campaign_data.info()

#Load in the sales data
sales = pd.read_csv('https://raw.githubusercontent.com/johnson80245/python/refs/heads/main/csvs/DS%20for%20marketing%20analytics%20data/Chapter01/Exercise1.02/sales.csv')
sales.head() 
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   views   100 non-null    int64
 1   likes   100 non-null    int64
dtypes: int64(2)
memory usage: 1.7 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 12 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Year       100 non-null    int64
 1   Product    100 non-null    object
 2   line       100 non-null    object
 3   Product.1  100 non-null    object
 4   type       100 non-null    object
 5   Product.2  100 non-null    object
 6   Order      100 non-null    object
 7   method     100 non-null    object
 8   type.1     100 non-null    object
 9   Retailer   100 non-null    object
 10  country    9 non-null      object
 11  Revenue    100 non-null    float64
dtypes: float64(1), int64(1), object(10)
memory usage: 9.5+ KB

In [ ]:
#Exercise 1.03 - Combining df and handling missing values

#Load in both dataframes
df1 = pd.read_csv('https://raw.githubusercontent.com/johnson80245/python/refs/heads/main/csvs/DS%20for%20marketing%20analytics%20data/Chapter01/Exercise1.03/timeSpent.csv')
df2 = pd.read_csv('https://raw.githubusercontent.com/johnson80245/python/refs/heads/main/csvs/DS%20for%20marketing%20analytics%20data/Chapter01/Exercise1.03/cost.csv')

#Review both df
df1.head(1)
df2.head(1)

#Left join on users 
df = df1.merge(df2, on = 'users', how = 'left')
df.head()

#Replace missing value with 0 
df = df.fillna(0)
df.head()

#Describe the data 
df.describe().T

#Marketing budget
#marketing budget = # of users * cost of acquisition
marketing_budget = df.users.count() * df.cost.mean()
marketing_budget

np.float64(37.0)

In [26]:
#Exercist 1.04 Apply Data Transformations

#Load the data
user_info = pd.read_json('https://raw.githubusercontent.com/johnson80245/python/refs/heads/main/csvs/DS%20for%20marketing%20analytics%20data/Chapter01/Exercise1.04/user_info.json')
user_info.head(1)

#Look at the info
user_info.info()

#Average cost of users? 
user_info['age'].mean()

#Favorite fruit among users
user_info.groupby('favoriteFruit')['_id'].count()

#More male or female customers
user_info.groupby('gender')['_id'].count()

#How many users are active
user_info.groupby('isActive')['_id'].count()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 22 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   _id            6 non-null      object
 1   index          6 non-null      int64
 2   guid           6 non-null      object
 3   isActive       6 non-null      bool
 4   balance        6 non-null      object
 5   picture        6 non-null      object
 6   age            6 non-null      int64
 7   eyeColor       6 non-null      object
 8   name           6 non-null      object
 9   gender         6 non-null      object
 10  company        6 non-null      object
 11  email          6 non-null      object
 12  phone          6 non-null      object
 13  address        6 non-null      object
 14  about          6 non-null      object
 15  registered     6 non-null      object
 16  latitude       6 non-null      float64
 17  longitude      6 non-null      float64
 18  tags           6 non-null      object
 19  friends        6 non-null      object
 20  greeting       6 non-null      object
 21  favoriteFruit  6 non-null      object
dtypes: bool(1), float64(2), int64(2), object(17)
memory usage: 1.1+ KB

isActive
False    3
True     3
Name: _id, dtype: int64

In [50]:
#Activity 1.01 (No Answers) Address Data Splitting

# - Fix splitting of the data when imported as csv

sales = pd.read_csv('https://raw.githubusercontent.com/johnson80245/python/refs/heads/main/csvs/DS%20for%20marketing%20analytics%20data/Chapter01/Activity1.01/sales.csv')
sales.head()
sales.info()

sales['Product line'] = sales['Product'] + ' ' + sales['line']
sales['Product type'] = sales['Product.1'] + ' ' + sales['type']
sales['Product'] = sales['Product.2'] + ' ' + sales['Order'] + ' ' + sales['method']
sales['methods'] = sales['type.1']
sales['Retailer country'] = sales['Retailer'] + ' ' + sales['country'].fillna('')
sales['Revenues'] = sales['Revenue'] 

sales.drop(['Product','line','Product.1','type','type.1','Product.2','Order','method', 'Retailer','country','Revenue'], axis = 1, inplace = True)
sales.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 12 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Year       100 non-null    int64
 1   Product    100 non-null    object
 2   line       100 non-null    object
 3   Product.1  100 non-null    object
 4   type       100 non-null    object
 5   Product.2  100 non-null    object
 6   Order      100 non-null    object
 7   method     100 non-null    object
 8   type.1     100 non-null    object
 9   Retailer   100 non-null    object
 10  country    9 non-null      object
 11  Revenue    100 non-null    float64
dtypes: float64(1), int64(1), object(10)
memory usage: 9.5+ KB

,Year,Product line,Product type,methods,Retailer country,Revenues
0,2004,Camping Equipment,Cooking Gear,Telephone,United States,315044.33
1,2004,Camping Equipment,Cooking Gear,Telephone,Canada,14313.48
2,2004,Camping Equipment,Cooking Gear,Telephone,Mexico,156644.47
3,2004,Camping Equipment,Cooking Gear,Telephone,Brazil,59191.72
4,2004,Camping Equipment,Cooking Gear,Telephone,Japan,7029.33