In [ ]:
#Selecting Subsets of Data

#Load datasets 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

#Load in the college data 
college = pd.read_csv('https://raw.githubusercontent.com/johnson80245/python/refs/heads/main/csvs/pandas_cookbook_data/college.csv',index_col = 'INSTNM')
college_raw = pd.read_csv('https://raw.githubusercontent.com/johnson80245/python/refs/heads/main/csvs/pandas_cookbook_data/college.csv')

#Creating series called city
city = college['CITY']

#pull out value directly from series
city['Alabama A & M University']

#pull out value using the .loc by name
city.loc['Alabama A & M University']

#pull out value using .iloc value
city.iloc[0]

#Pull out several values 
city[['Alabama A & M University', 'Alabama State University']]

#Pull out several values using .loc 
city.loc[['Alabama A & M University', 'Alabama State University']]

#Pull out several values using .iloc
city.iloc[[0, 4]]

#use slice to pull out many values
city['Alabama A & M University':'Alabama State University']

#use slice in another method
city[0:5]

#use slice with .loc
city.loc['Alabama A & M University':'Alabama State University']

#use slice with iloc
city.iloc[0:5]

#Use a boolean array to pull out certain values
alabama_mask = city.isin(['Birmingham', 'Montgomery'])
city[alabama_mask]


#Doing the above on the dataframe 
college.loc['Alabama A & M University', 'CITY']

#Using .loc
college.loc[['Alabama A & M University', 'Alabama State University'], 'CITY']

#Using .iloc
college.iloc[[0, 4], 0]

INSTNM
Alabama A & M University        Normal
Alabama State University    Montgomery
Name: CITY, dtype: object

In [23]:
#Selecting DataFrame Rows

#select entire row at position, pass an integer to iloc
college.iloc[60]

#get the same row using .loc method
college.loc['University of Alaska Anchorage']

#Select disjointed set of rows
college.iloc[[60, 99, 3]]

,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
INSTNM,,,,,,,,,,,,,,,,,,,,,
University of Alaska Anchorage,Anchorage,AK,0.0,0.0,0.0,0,NaN,NaN,0.0,12865.0,...,0.0980,0.0181,0.0457,0.4539,1,0.2385,0.2647,0.4386,42500,19449.5
International Academy of Hair Design,Tempe,AZ,0.0,0.0,0.0,0,NaN,NaN,0.0,188.0,...,0.0160,0.0000,0.0638,0.0000,0,0.7185,0.7346,0.3905,22200,10556
University of Alabama in Huntsville,Huntsville,AL,0.0,0.0,0.0,0,595.0,590.0,0.0,5451.0,...,0.0172,0.0332,0.0350,0.2146,1,0.3072,0.4596,0.2640,45500,24097